<h1>posts#new</h1>
<%= form_for @post do |f| %>
    <div class="field">
        <%= f.label :title ,"問題文"%>
        <p><%= f.text_area :title, :size => "20x5" %></p>
    </div> 
        
    <div class="a1">
        <%= f.label :choice1 ,"選択肢1"%>
        <p><%= f.text_field :choice1, :size => 20 %></p>
        <%= f.label :ans1, "正解設定", value: true %>
        <%= f.check_box :ans1, id: :ans1,:as => :boolean %>
        <br>
    </div>
    <br><br>
    <div class="a2">
        <%= f.label :choice2 ,"選択肢2"%>
        <p><%= f.text_field :choice2, :size => 20 %></p>
        <%= f.label :ans2, "正解設定", value: true %>
        <%= f.check_box :ans2, id: :ans1,:as => :boolean %>
        <br>
    </div>
    <br><br>
    <div class="a3">
        <%= f.label :choice3 ,"選択肢3"%>
        <p><%= f.text_field :choice3, :size => 20 %></p>
        <%= f.label :ans3, "正解設定", value: true %>
        <%= f.check_box :ans3, id: :ans1,:as => :boolean %>
        <br>
    </div>
    <p>解説ぅぅぅ:<%= f.text_field :commentary, :size => 20 %></p>
    <%= f.submit "postする" %>
<% end %>
<%= link_to "post一覧に戻る", posts_path %>
